<div class="coa">
	<form>
		<div class="chartFields">
			{{if messages && messages.length > 0}}
			<ul class="messages">
				{{each messages}}
				<li>${$value}</li>
				{{/each}}
			</ul>
			{{/if}}
			{{if errors && errors.length > 0}}
			<ul class="errors">
				{{each errors}}
				<li>${$value}</li>
				{{/each}}
			</ul>
			{{/if}}
			<label for="speedtype" class="sameLine">SpeedType</label><span id="fund">${coa.speedtype}</span><br/>
			<label for="fund" class="sameLine">Fund</label><span id="fund">${coa.fund}</span><br/>
			<label for="program" class="sameLine">Program</label><span id="program">${coa.program}</span><br/>
			<label for="speedtypeDescr" class="sameLine">Speedtype descr</label><span id="speedtypeDescr">${coa.speedtypeDescr}</span><br/>
			<label for="account" class="sameLine required">Account</label><input type="text" name="account" value="${coa.account}"/><br/>
			<label for="classField" class="sameLine">Class</label><input type="text" name="classField" value="${coa.classField}"/><br/>
			<label for="userField" class="sameLine">UserField</label><input type="text" name="userField" value="${coa.userField}"/><br/>
			<label for="projectId" class="sameLine">Project Id/grant</label><input type="text" name="projectId" value="${coa.projectId}"/><br/>
			<label for="source" class="sameLine">Source</label><input type="text" name="source" value="${coa.source}"/><br/>
			<label for="resourceType" class="sameLine">Resource type</label><input type="text" name="resourceType" value="${coa.resourceType}"/><br/>
			<label for="resourceCat" class="sameLine">Resource category</label><input type="text" name="resourceCat" value="${coa.resourceCat}"/><br/>
			<label for="resourceSubcat" class="sameLine">Resource subcategory</label><input type="text" name="resourceSubcat" value="${coa.resourceSubcat}"/><br/>
			<label for="budgetRef" class="sameLine">Work order #/Budget ref</label><input type="text" name="budgetRef" value="${coa.budgetRef}"/><br/>
			<label for="adminOverridden" class="sameLine">Admin overridden</label><input type="checkbox" class="boxes" name="adminOverridden" value="true" {{if coa.adminOverridden}}checked="checked"{{/if}}/><br/>
			<label for="facilitiesApproved" class="sameLine">Facilities approved</label><input type="checkbox" class="boxes" name="facilitiesApproved" value="true" {{if coa.facilitiesApproved}}checked="checked"{{/if}}/><br/>
			<label for="comments" class="diffLines">Comments</label><textarea name="comments">${coa.comments}</textarea><br/>
			<button class="coaButton" onClick='$(this).parents(".coa").parent().coa("doAction","back");return false;'>Change SpeedType</button>
			<button class="coaButton" onClick='$(this).parents(".coa").parent().coa("doAction","reset");return false;'>Undo Changes</button>
		</div>
		<div class="coaHeader">
			<h3>Chart of Accounts ${coa.id}</h3>
		</div>
		<div class="coaFooter">
			<button class="coaButton" onClick='$(this).parents(".coa").parent().coa("doAction","save");return false;'>Save</button>
		</div>
	</form>
</div>
